




<div class="container">
  
	<!-- header -->
    <section class="header">
        <div class="row">
        	<div class="twelve columns" style="margin-top: 5%">
                <h4>NIAS - SPS</h4>
                <p>Edit Privacy Profile <%= @profile %></p>
            </br></br></br>
            </div>
        </div>
    </section>


    <!-- collections list -->
    <div class="docs-section" id="edit_profile"> 
		<h6 class="docs-header">Privacy Profile XPath Definitions</h6>

		<div class="row">
    		<div class="seven columns" id="profile_form">
    			<h6 class="docs-header">'<%= @profile %>' - Profile Definition</h6>

						<form action="/privacy?profile=<%= @profile %>" method="post">
						    <!-- <textarea rows=30 cols=80 name="file"><%= @contents %></textarea> -->
						    <textarea style="width:100%;height:500px" name="file"><%= @contents %></textarea>
						    <div class="row">
						    	<input type="submit" value="Save">  
						    </div>
						</form>

    		</div>

    		<div class="five columns" id="profile_instructions">
    			<h6 class="docs-header">Editing Instructions:</h6>
						<ul>
							<li>Each field to be filtered is defined with an XPath
							<li>Comments are preceded with #
							<li>The redaction string to be inserted is delimited from the XPath by a colon. The default redaction string is REDACTED
							<li>Any XML attributes to be filtered need to be specified explicitly
							<li>If any rules overlap, specify the narrower rule after the more specific, so that the specific text to be replaced (and suited to the type of the field) overwrites the default replcament text applied throughout the node
						</ul>						
					</p>
    		</div>

    	</div>
	</div>



</div>



<h1>Edit <%= @profile %></h1>
<ul><li>Each field to be filtered is defined with an XPath
<li>Comments are preceded with #
<li>The redaction string to be inserted is delimited from the XPath by a colon. The default redaction string is REDACTED
<li>Any XML attributes to be filtered need to be specified explicitly
<li>If any rules overlap, specify the narrower rule after the more specific, so that the specific text to be replaced (and suited to the
type of the field) overwrites the default replcament text applied throughout the node
</ul>
