<!-- ssf.erb -->

<% content_for :title do %>
      <title>NIAS SSF : Store & Forward</title>
<% end %>

<div class="container">
  
	<!-- header -->
    <section class="header">
    	<!-- <img class="value-img" src="images/watch.svg"> -->
    	<img class="value-img" src="images/mail.svg" width="160" height="160">
    	<!-- <img class="value-img" src="images/deadlines.svg" width="132" height="132"> -->
        <div class="row">
        	<div class="twelve columns" style="margin-top: 5%">
                <h4>NIAS - SSF</h4>
                <p>SIF Store + Forward</p>
            </br></br></br>
            </div>
        </div>
    </section>

    <!-- navigation -->                 
    <div class="navbar-spacer"></div>
    <nav class="navbar">        
        <div class="container">
            <ul class="navbar-list">
                                 
                <li class="navbar-item"><a class="navbar-link" href="#server_info">Server Info</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#upload">Upload File</a></li>
                                
            </ul>
        </div>      
    </nav>

    <!-- known topics list -->
    <div class="docs-section" id="server_info"> 
		<h6 class="docs-header">Server Details...</h6>

		<div class="row">
    		<div class="seven columns" id="collection_text">
    			<h6 class="docs-header">SSF Server</h6>
				<div><ul>

					<li>Name: <%= env['SERVER_NAME'] %></li>
					<li>Port: <%= env['SERVER_PORT'] %></li>
					<li>Environment: <%= settings.environment %></li>

				</ul></div>
    		</div>

    		<div class="five columns" id="topics_list">
    			<h6 class="docs-header">Known Topics:</h6>
				<div><ul>

						<% @topics.each do | topic | %>
							<li><a href="<%= topic %>"><%= topic %></a></li>
						<% end %>

				</ul></div>	
    		</div>
    	</div>

	</div>

	<!-- upload -->
		 <div class="docs-section" id="upload"> 
                <h6 class="docs-header">Upload File</h6>
                
                <div class="row">
                <div class="seven columns" id="collection_text">
                                <div>Normally NIAS expects you to send files to a REST endpoint for the given topic (see <a href="https://github.com/nsip/nias/wiki/Workflow">NIAS Workflow</A>). File upload can be used instead, particularly if you have very large files.

<form action="/fileupload" method="POST" enctype="multipart/form-data" id="fileuploadform">
  <input type="file" name="file" id="file"><br/>
  <input type="radio" name="mimetype" value="application/xml">application/xml (SIF) 
  <input type="radio" name="mimetype" value="application/json">application/json 
  <input type="radio" name="mimetype" value="text/csv" checked>text/csv <br/>

		<label for="topic_menu">Topic</label>
                    <select class="u-full-width" name="topic_menu">
                        <% @topics.sort.reject{|e| e.match( %r!.*/.*/.*! ) or e.match (%r!/errors$!) }.each do | collection | %>
                            <option value="<%= collection %>"><%= collection %></option>
                        <% end %>
                    </select>
		or: <input type="text" id="topic">/<input type="text" id="stream">


  <input  class="button-primary" type="submit" id="filesubmit">
</form>
</div></div>

	<div class="row">
            <div class="twelve columns">
                <br/>
                <label for="results">Errors:</label>
                <pre class="code-example">
                    <code class="code-example-body prettyprint" id="results">
                    </code>
                </pre>
            </div>
        </div>

        <script>

var iterations = 0;
var seconds = 2;
var startoffset = 0;
var timer;
$(function() {
  $("#fileuploadform").submit(function(e){
    e.preventDefault();
    frame(); /* set up the startoffset for the error stream */
    var formData = new FormData(this);
    formData.append('file', $("#file").prop('files')[0]);
    $("#results").empty();
    iterations = 0;
    startoffset = 0;
    $.ajax({
      type: "POST",
      url: "/fileupload",
/*      data: $(this).serialize(),*/
      data: formData,
      processData: false,
      contentType: false,
      success: function(){
        $("#results").html("Successfully submitted</br/>")
 	timer = setInterval(frame, seconds*1000);
      },
      error: function(){
        $("#results").html("Form not submitted<br/>")
      }
    });
    return false;
  });
});

		function frame() { 
                    if(iterations >= 10) {
 		        clearInterval(timer);
		    } else {
	            $.ajax( "/csv/errors?offset=" + ((startoffset == 0) ? 'latest' : startoffset) )
           		.done(function(data) {
				iterations++;
				var matches = data.match(/\{"advice":"Start consuming from ([0-9]+)"\}/);
					startoffset = matches[1];
					data = data.replace(/\{"advice":"Start consuming from [0-9]+"\}/, "");
					data = data.replace(/\\n/g, "</br>\n");
					if(!data || !data.trim() ) {
						/* very first iteration is just setup. If we have a message, then 
						display it, else show nothing */
						if(startoffset == 1) {
							data = "";
						} else {
							data = "No further errors reported...";
						} 
					}
					if(data && data.trim() ) {
       		          			$("#results").append ( data + "<br/>" );
					}
	           	});
			}
		}
	/*
                var request = {};
                $.get("/csv/errors", request, function(result){
                        $("#results").append( result );
                });
	*/
	</script>
            
        </div>

        </div>



</div>





















