<!-- collections.erb -->


<div class="container">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script src="http://dimplejs.org/dist/dimple.v2.1.6.min.js"></script>
  
	<!-- header -->
    <section class="header">
    	<!-- <img class="value-img" src="images/watch.svg"> -->
    	<img class="value-img" src="images/search.svg" width="160" height="160">
    	<!-- <img class="value-img" src="images/deadlines.svg" width="132" height="132"> -->
        <div class="row">
        	<div class="twelve columns" style="margin-top: 5%">
                <h4>NIAS - SMS</h4>
                <p>SIF Memory Store</p>
            </br></br></br>
            </div>
        </div>
    </section>

    <!-- navigation -->
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="#collections">Collections</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#query_ui">Query</a></li>                
                <!-- <li class="navbar-item"><a class="navbar-link" href="#graph">View</a></li> -->
            </ul>
        </div>
    </nav>

    <!-- dashboard -->
    <div id="dashboard">
		<h6 class="docs-header">Dashboard</h6>
<table>
<tr>
<td>
<h6>Average absences per class</h6>
		<div id="dashboardchart1"/>
		<script>
        var svg1 = dimple.newSvg("#dashboardchart1", "400px", "400px");
        d3.json("/graph_data/attendance_per_class", function (data) {
        var myChart = new dimple.chart(svg1, data);
        //myChart.setBounds(20, 20, 460, 360)
        var x = myChart.addCategoryAxis("x", "class");
        myChart.addMeasureAxis("y", "average absences");
        myChart.addSeries(null, dimple.plot.bar);
        //myChart.addLegend(500, 20, 90, 300, "left");
                myChart.draw();
        });
		</script>
</td>
<td>
<h6>Most absent students</h6>
		<div id="dashboardchart2"/>
		<script>
        var svg2 = dimple.newSvg("#dashboardchart2", "400px", "400px");
        d3.json("/graph_data/most_absent_students", function (data) {
        var myChart = new dimple.chart(svg2, data);
        //myChart.setBounds(20, 20, 460, 360)
        var x = myChart.addCategoryAxis("x", "student");
        myChart.addMeasureAxis("y", "absences");
        myChart.addSeries(null, dimple.plot.bar);
        //myChart.addLegend(500, 20, 90, 300, "left");
                myChart.draw();
        });
		</script>
</td>
</tr>
</table>
    </div>

    <!-- collections list -->
    <div class="docs-section" id="collections"> 
		<h6 class="docs-header">SMS Collections</h6>

		<div class="row">
    		<div class="seven columns" id="collection_text">
    			<h6 class="docs-header">Known Collections</h6>
				<div><p>These are the known object collections provided to the SMS so far...</p></div>	
    		</div>

    		<div class="five columns" id="collection_list">
    			<h6 class="docs-header">SMS has:</h6>
    			<%= @coll_result.count %> known collections: -
				<div>
					<p>
						<ul>
                            <% @coll_result.sort! %>
							<% @coll_result.each do | collection | %>
								<li><%= collection %> </li>
							<% end %>
						</ul>
						
					</p>
				</div>	
    		</div>
    	</div>

	</div>

    <!-- lightweight query interface -->
    <div class="docs-section" id="query_ui"> 
		<h6 class="docs-header">Query Explorer</h6>

        <div> 
            <!-- <form> -->
            <div class="row">
                <div class="six columns">
                    <label for="collections1">From Collection -> </label>
                    <select class="u-full-width" id="collections1">
                        <% @coll_result.sort! %>
                        <% @coll_result.each do | collection | %>
                            <option value="<%= collection %>"><%= collection %></option>    
                        <% end %>
                    </select>
                </div>
                <div class="six columns">
                    <label for="item">Item</label>
                    <select class="u-full-width" id="item">
                        <!-- selector has no values until collection is chosen to select an item from -->
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="six columns"><br/></div>
                <div class="six columns">
                    <label for="collections2">Relationship Collection</label>
                    <select class="u-full-width" id="collections2">
                        <% @coll_result.sort! %>
                        <% @coll_result.each do | collection | %>
                            <option value="<%= collection %>"><%= collection %></option>    
                        <% end %>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="six columns"><br/></div>                
                <div class="six columns">
                    <!-- <label for="query">Query</label> -->
                    <!-- <input class="button-primary" type="submit" value="Query"> -->
                    <button class="button-primary" id="query">Run Query</button>                                
                </div>
            </div>

            <!-- handler for collection-to-find-an-item selector -->
            <script>
                // force user to choose a collection
                $("#collections1 option:first").before( $('<option>',{value: 0,text: ''}));
                
                $("#collections1").change(function () {
                    $("#item").find("option:gt(0)").remove();
                    $("#item").find("option:first").text("Loading...");
                    $.getJSON("/sms/find", {
                        collection: $(this).val()
                    }, function (json) {
                        $("#item").find("option:first").text("");
                        for (var i = 0; i < json.length; i++) {
                            $("<option/>").attr("value", json[i].id).text(json[i].id).appendTo($("#item"));
                        }
                    });
                });

		$("#item").change(function() {
                    var item = $("#item :selected").text();
var mydiv = document.getElementById("chartContainer");
//while ( mydiv.firstChild ) mydiv.removeChild( mydiv.firstChild );
    	var svg = dimple.newSvg("#chartContainer", "600px", "200px");
    	d3.json("/graph_data/linked_collections?id="+ item, function (data) {
      	var myChart = new dimple.chart(svg, data);
  	//myChart.setBounds(20, 20, 460, 360)
      	myChart.addMeasureAxis("p", "data");
      	var ring = myChart.addSeries("collection", dimple.plot.pie);
      	ring.innerRadius = "50%";
      	myChart.addLegend(400, 20, 90, 300, "left");
      		myChart.draw();
	});
		});

                $("#query").click(function(){

                    var collection = $("#collections2").val();
                    var item = $("#item :selected").text();
                    var request = {};

                    request.collection = collection;
                    request.include_messages = true;
                    request.id = item;

		    
                    $("#results").empty();
                    $.getJSON("/sms/find", request, function(result){
                        $.each(result, function(i, field){
                            $("#results").append( field.id + "<br/><br/>" + field.data + "<br/><br/>");
                        });
                    });
                });


            </script>

        <!-- </form> -->
        </div>

	<div id="chartContainer" />


        <div class="row">
            <div class="twelve columns">
                <label for="results">Results</label>
                <!-- <pre class="code-example"> -->
                    <!-- <code class="code-example-body prettyprint" id="results"> -->
                    <div id="results">    
                    </div>
                <!-- </pre>  -->
            </div>
        </div>
	
    </div>


<!-- <textarea class="u-full-width" placeholder="Query Results..." id="results"></textarea> -->



</div>






