<!-- collections.erb -->

<% content_for :title do %>
      <title>NIAS SMS: SIF Memory Store</title>
<% end %>

<div class="container">
  
	<!-- header -->
    <section class="header">
    	<!-- <img class="value-img" src="images/watch.svg"> -->
    	<img class="value-img" src="images/search.svg" width="160" height="160">
    	<!-- <img class="value-img" src="images/deadlines.svg" width="132" height="132"> -->
        <div class="row">
        	<div class="twelve columns" style="margin-top: 5%">
                <h4>NIAS - SMS</h4>
                <p>SIF Memory Store</p>
            </br></br></br>
            </div>
        </div>
    </section>

    <!-- navigation -->
    <div class="navbar-spacer"></div>
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"><a class="navbar-link" href="#collections">Collections</a></li>
                <li class="navbar-item"><a class="navbar-link" href="#query_ui">Query</a></li>                
                <li class="navbar-item"><a class="navbar-link" href="#graph">View</a></li>
            </ul>
        </div>
    </nav>

    <!-- collections list -->
    <div class="docs-section" id="collections"> 
		<h6 class="docs-header">SMS Collections</h6>

		<div class="row">
    		<div class="seven columns" id="collection_text">
    			<h6 class="docs-header">Known Collections</h6>
				<div><p>These are the known object collections provided to the SMS so far...</p></div>	
    		</div>

    		<div class="five columns" id="collection_list">
    			<h6 class="docs-header">SMS has:</h6>
    			<%= @coll_result.count %> known collections: -
				<div>
					<p>
						<ul>
                            <% @coll_result.sort! %>
							<% @coll_result.each do | collection | %>
								<li><%= collection %> </li>
							<% end %>
						</ul>
						
					</p>
				</div>	
    		</div>
    	</div>
	</div>

    <!-- lightweight query interface -->
    <div class="docs-section" id="query_ui"> 
		<h6 class="docs-header">Query Explorer</h6>
            <div class="row">

            <div class="six columns">
                <label for="collections1">( From Collection... )</label>
                <select class="u-full-width" id="collections1">
                    <% @coll_result.sort! %>
                    <% @coll_result.each do | collection | %>
                        <option value="<%= collection %>"><%= collection %></option>    
                    <% end %>
                </select>

                <label for="item">Item</label>
                <select class="u-full-width" id="item">
                    <!-- selector has no values until collection is chosen to select an item from -->
                </select>

                <label for="collections2">Relationship Collection</label>
                <select class="u-full-width" id="collections2">
                    <% @coll_result.sort! %>
                    <% @coll_result.each do | collection | %>
                        <option value="<%= collection %>"><%= collection %></option>    
                    <% end %>
                </select>

                <button class="button-primary" id="query">Run Query</button>                                
            </div>

            <div class="six columns">
                <div id="chartContainer"></div>
		</div>
	</div>


        <div class="row">
            <div class="twelve columns">
                <label for="results">Results</label>
                <pre class="code-example">
                    <code class="code-example-body prettyprint" id="results">
                    </code>
                </pre> 
            </div>
        </div>

        <!-- handler for collection-to-find-an-item selector -->
        <script>
            // force user to choose a collection
            $("#collections1 option:first").before( $('<option>',{value: 0,text: ''}));
            
            $("#collections1").change(function () {
                $("#item").find("option:gt(0)").remove();
                $("#item").find("option:first").text("Loading...");
                $.getJSON("/sms/find", {
                    collection: $(this).val()
                }, function (json) {
		    json = json.sort(function(a,b) {return a.label.localeCompare( b.label )});
                    $("#item").find("option:first").text("");
                    for (var i = 0; i < json.length; i++) {
                        $("<option/>").attr("value", json[i].id).text(json[i].label).appendTo($("#item"));
                    }
                });
            });

    	    $("#item").change(function() {

                // var item = $("#item :selected").text();
                var item = $("#item").val();
                $("#chartContainer").empty();

                var svg = dimple.newSvg("#chartContainer", "100%", "200px");
                
                d3.json("/graph_data/linked_collections?id="+ item, function (data) {
                    var myChart = new dimple.chart(svg, data);
                    myChart.setBounds("20%", "10%", "60%", "80%")
                    myChart.addMeasureAxis("x", "data");
                    myChart.addCategoryAxis("y", "collection");
                    var ring = myChart.addSeries("collection", dimple.plot.bar);
                    myChart.draw();
                });
            });

            $("#query").unbind("click").click(function(){

                var collection = $("#collections2").val();
                //var item = $("#item :selected").text();
                var item = $("#item").val();
                var request = {};
		var seen = {};

                request.collection = collection;
                request.include_messages = true;
                request.id = item;

	    
                $("#results").empty();
		
                $.getJSON("/sms/find", request, function(result){
                    $.each(result, function(i, field){
			if(seen[field.id]) { return true; }
			seen[field.id]  = true;
                        $("#results").append( '<br/><br/>' );
                        $("#results").append( document.createTextNode(field.id));
                        $("#results").append( '<br/><br/>' );
                        $("#results").append( document.createTextNode(field.data));
                        $("#results").append( '<br/>' );
                    });
                });
            
    	});

        </script>
    </div>


    <!-- lightweight query interface -->
    <div class="docs-section" id="graph"> 
		<h6 class="docs-header">View Network Diagram</h6>
            <div class="row">

            <div class="six columns">
                <label for="collections11">( From Collection... )</label>
                <select class="u-full-width" id="collections11">
                    <% @coll_result.sort! %>
                    <% @coll_result.each do | collection | %>
                        <option value="<%= collection %>"><%= collection %></option>    
                    <% end %>
                </select>

                <label for="item">Item</label>
                <select class="u-full-width" id="item1">
                    <!-- selector has no values until collection is chosen to select an item from -->
                </select>

                <label for="collections12">Relationship Collection</label>
                <select class="u-full-width" id="collections12">
                    <% @coll_result.sort! %>
                    <% @coll_result.each do | collection | %>
                        <option value="<%= collection %>"><%= collection %></option>    
                    <% end %>
                </select>

            </div>

            
	</div>
                <div id="networkContainer" ></div>


        

        <!-- handler for collection-to-find-an-item selector -->
        <script>
            // force user to choose a collection
            $("#collections11 option:first").before( $('<option>',{value: 0,text: ''}));
            
            $("#collections11").change(function () {
                $("#item1").find("option:gt(0)").remove();
                $("#item1").find("option:first").text("Loading...");
                $.getJSON("/sms/find", {
                    collection: $(this).val()
                }, function (json) {
		    json = json.sort(function(a,b) {return a.label.localeCompare( b.label )});
                    $("#item1").find("option:first").text("");
                    for (var i = 0; i < json.length; i++) {
                        $("<option/>").attr("value", json[i].id).text(json[i].label).appendTo($("#item1"));
                    }
                });
            });

    		$("#item1").change(function() {

                // var item = $("#item :selected").text();
                var item = $("#item1").val();
                $("#networkContainer").empty();


		d3.json("/graph_data/local_network?id="+item, function (data) {
			var G = new jsnx.Graph();
			var colours = ['red', 'maroon', 'yellow', 'olive', 'lime', 'green', 'aqua', 'teal', 'blue', 'fuchsia', 'purple'];
			G.addNode(0, {labels: 'ME', color: 'white'} );
			var collections = new Object();
			var j = 0;
			var seenedge = {};
                    	for (var i = 0; i < data.length; i++) {
				if(!collections.hasOwnProperty(data[i].collection)) {
					collections[data[i].collection] = (j < colours.length-1 ? j++ : j);
				}
				if(data[i].target != 0) {
                       			G.addNode(data[i].target, {color: colours[collections[data[i].collection]], labels: data[i].label, hide: false});
				}
				if((data[i].target + ':' + data[i].origin) in seenedge == false) {
					seenedge[data[i].target + ':' + data[i].origin] = 1;
					seenedge[data[i].origin + ':' + data[i].target] = 1;
					G.addEdge(data[i].origin, data[i].target, { color : data[i].link == 'direct' ? 'black' : 'blue' });
				}
                    	}
			jsnx.draw(G, {
				element: '#networkContainer',
				withLabels: true,
				labels: 'labels',
				nodeStyle : {
					fill: function(d) { return d.data.color; }
				},
				edgeStyle: {
					stroke: function(d) { return d.data.color; }
				},
				nodeAttr: {
					id: function(d) { return 'node-' + d.node; // assign unique ID
        				}
				},
				labelAttr: {
					id: function(d) { return 'label-' + d.node; // assign unique ID
        				}
				},
				edgeAttr: {
				 	id: function(d) {return 'edge-' + ((d.edge[0] < d.edge[1]) ? 
						(d.edge[0] + '_' + d.edge[1]) : (d.edge[1] + '_' + d.edge[0])) ; } 
				},
				height: 800
			}, true);

		Array.prototype.diff = function(a) { if(a.length === 0) {return this;} return this.filter(function(i) {return a.indexOf(i) < 0;}); };
Array.prototype.union = function(y) {
  var obj = {};
  for (var i = this.length-1; i >= 0; -- i)
     obj[this[i]] = this[i];
  for (var i = y.length-1; i >= 0; -- i)
     obj[y[i]] = y[i];
  var res = []
  for (var k in obj) {
    if (obj.hasOwnProperty(k))  // <-- optional
      res.push(obj[k]);
  }
  return res;
};


		function descendants0(d, seen){
			var s = G.neighbors(d);
			seen.push(d);
			var ret = [];
			var ret1 = [];
			s = s.diff(seen).diff([0]);
			if (s.length === 0) {return seen;}
			s.forEach( function(i) {
				ret1 = descendants0(i, seen);
				ret1 = ret.diff(seen);
				ret = ret.union(ret1);
			});
			return seen.union(ret).diff([0]);
		}

		function descendants(d) {
			var ret = descendants0(d.node, []);
			/* include 0 node only if child of d */
			var s = G.neighbors(d.node);
			if (s.indexOf(0) >= 0) { ret.push(0); }
			return ret;
		}

		// event handler: http://stackoverflow.com/questions/16048564/jsnetworkx-altering-node-colors-accessing-neighbors
		d3.selectAll('.node').on('click', function(d1) {
			var desc = descendants(d1);
			var H = G.subgraph(desc);		
			if( d1.hide ) {
				d1.hide = false;
				H.nodes().forEach (function(n) { 
					if(n == 0) { 
					} else if(n == d1.node) {
						d3.select('#node-' + n).attr('r' , 10); 
					} else {
						d3.select('#node-' + n).style('display' , 'block'); 
						d3.select('#label-' + n).style('display' , 'block'); 
					}
				});
				H.edges().forEach (function(n) { 
					d3.select('#edge-' + ((n[0] < n[1]) ? (n[0] + '_' + n[1]) : (n[1] + '_' + n[0])) ).style('display' , 'block'); 
				});
			} else {
				d1.hide = true;
				H.nodes().forEach (function(n) { 
					if(n == 0) {
					} else if(n == d1.node) {
						d3.select('#node-' + n).attr('r' , 20); 
					} else {
						d3.select('#node-' + n).style('display' , 'none'); 
						d3.select('#label-' + n).style('display' , 'none'); 
					}
				});
				H.edges().forEach( function(n) { 
					d3.select('#edge-' + ((n[0] < n[1]) ? (n[0] + '_' + n[1]) : (n[1] + '_' + n[0])) ).style('display' , 'none'); 
				});
			}
		});
		
		function update() {
		}
            });

	});

           

        </script>
    </div>


</div>






